@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
  width: max-content;
}
